.event-name-scroll-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensure it's behind other content */
  white-space: nowrap; /* Prevent text from wrapping */
}

.event-name {
  font-size: 5rem;
  color: #ffffff;
  animation: scroll 15s linear infinite; /* Adjust duration as needed */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.custom-cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #2d2d2d18;
  border: 2px solid rgb(255, 104, 137);

  border-radius: 50%;
  pointer-events: none; /* Ensure cursor doesn't interfere with mouse events */
  z-index: 9999; /* Ensure cursor appears above other elements */
  transition: all 200ms ease-out;
}

.custom-cursor:hover {
  transform: scale(1.5); /* Scale cursor on hover for visual feedback */
}

.dot-bg {
  /* background-image: radial-gradient(circle, #818181 1px, transparent 2px); */
  background-size: 50px 50px; /* Adjust the size of the dots */
  height: 100vh;
  background-position: 0 0; /* Start position of the background */
}

.bg {
  background: url(bg-3.jpg) no-repeat center center;
  object-fit: fill;
}

@media only screen and (max-width: 768px) {
  .custom-cursor {
    display: none;
  }
}

@keyframes slide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}
